spring:
  application:
    name: servidor-gateway
  cloud: 
   gateway:
     default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
     globalcors:
        corsConfigurations:
          '[/**]':
              allowedOrigins: "*"
              allowedMethods: "*"
              allowedHeaders: "*"
     routes:
      - id: msalumnosdjharo #Id de la ruta (en realidad esto es solo un id pero no cumple ninguna otra funcion)
          #1-Cuando se va a enrutar la peticion a un microservicio inscrito en Eureka, se usa el valor: "lb" + "//" + el nombre del microservicio TAL CUAL como se haya inscrito en el ecosistema EUREKA 
          #2-Cuando se va a enrutar la peticion a un microservicio NO inscrito en Eureka, se coloca la URL real del microservicio al cual se quiere enrutar la peticion
        uri: lb://msalumnosdjharo #http://localhost:9000 = URL real del microservicio de pedidos al cual se enrutara la peticion de entrada
        predicates:
          - Path=/api/alumnos/** #Cuando Gateway detecte que en la peticion URL venga este path, enrutara la peticion hacia el servicio indicado en la propiedad "uri" (lb://servicio-pedidos)
        filters:
          - RewritePath=/api/alumnos/*, /alumnos/ #Lo que indica es que a la url indicada en la propiedad "uri", se le adicionar치 un "/" mas todo lo que venga despues de "spedidos" en la petici칩n URL de entrada

      - id: mscursos #Id de la ruta (en realidad esto es solo un id pero no cumple ninguna otra funcion)
          #1-Cuando se va a enrutar la peticion a un microservicio inscrito en Eureka, se usa el valor: "lb" + "//" + el nombre del microservicio TAL CUAL como se haya inscrito en el ecosistema EUREKA 
          #2-Cuando se va a enrutar la peticion a un microservicio NO inscrito en Eureka, se coloca la URL real del microservicio al cual se quiere enrutar la peticion
        uri: lb://mscursos #http://localhost:9000 = URL real del microservicio de pedidos al cual se enrutara la peticion de entrada
        predicates:
          - Path=/api/cursos/** #Cuando Gateway detecte que en la peticion URL venga este path, enrutara la peticion hacia el servicio indicado en la propiedad "uri" (lb://servicio-pedidos)
        filters:
          - RewritePath=/api/cursos/*, /cursos/ #Lo que indica es que a la url indicada en la propiedad "uri", se le adicionar치 un "/" mas todo lo que venga despues de "spedidos" en la petici칩n URL de entrada

#Revisar no esta funcionando traeria la lista de alumnos si mi peticion no tuviera path (value) solo si dejara @GetMapping          
server:
  port: 8090
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
